# py
crypto.memint.backtest/__pycache__/
crypto.memint.backtest/*/__pycache__/
crypto.memint.backtest/*/*/__pycache__/
crypto.memint.backtest/*/*/*/__pycache__/
crypto.memint.backtest/db.sqlite3

#env
.idea
.venv
.env

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#react
# dependencies
crypto.memint.backtest/frontend/node_modules
crypto.memint.backtest/frontend/.pnp
crypto.memint.backtest/frontend/.pnp.js

# testing
crypto.memint.backtest/frontend/coverage

# production
crypto.memint.backtest/frontend/build

# misc
crypto.memint.backtest/frontend/.DS_Store
crypto.memint.backtest/frontend/.env.local
crypto.memint.backtest/frontend/.env.development.local
crypto.memint.backtest/frontend/.env.test.local
crypto.memint.backtest/frontend/.env.production.local
crypto.memint.backtest/frontend/npm-debug.log*
crypto.memint.backtest/frontend/yarn-debug.log*
crypto.memint.backtest/frontend/yarn-error.log*
