html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 53em) {
  html {
    font-size: 40%;
  }
}

#root {
  background-color: #1d1d1d;
  color: white;
}

nav {
  background-color: #1d1d1d;
}

footer {
  color: #777;
  padding: 20px 0;
  font-size: 1.5rem;
}

.how-it-works-line {
  margin-left: 0;
  text-align: left;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

.how-works-sign {
  font-size: 3rem;
}

.header {
  font-size: 8rem;
}
.nav-toggle {
  font-size: 2.5rem;
}

.navbar-logo {
  font-size: 5rem;
}

.navbar-logo:hover {
  text-decoration: none;
}

.navbar-nav {
  font-size: 2.5rem;
}

.nav-link {
  color: #ffffff !important;
}
.nav-link:hover {
  color: #cccccc !important;
  text-decoration: underline;
}

.navbar-badge {
  top: -5px;
  right: -5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.get-started-btn {
  background-color: #333;
  color: #fff;
  border: none;
  width: 16rem;
  height: 5rem;
  border-radius: 15px;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.get-started-btn:hover {
  background-color: #3d3d3d;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.get-started-btn:active {
  background-color: #444444;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.step-container {
  width: 100%;
  border-radius: 15px;
  min-height: 52rem;
  background-color: #333;
  grid-template-rows: 25% 75%;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s, background-color 0.2s;
}

.step-container:hover {
  box-shadow: 22px 22px 22px rgba(0, 0, 0, 0.3);
  background-color: #2c2c2c;
}

.step-nmb {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 4rem;
}

.step-name-container {
  font-size: 1.3rem;
}

.step-name {
  margin: 0;
}

.step-line {
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #dee2e6;
}

.step-description {
  font-size: 1.4rem;
  text-align: justify;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.visible {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}

.how-it-works-container.visible {
  animation: slide-in-left 1s forwards;
}

.modal-content {
  background-color: #333;
  color: white;
  border-radius: 15px;
}

.modal-header {
  border-bottom: 1px solid #444;
}

.modal-footer {
  border-top: 1px solid #444;
}

.button-close {
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  background-color: transparent;
}

table th, table td {
  padding: 0.75rem;
  vertical-align: top;
  background-color: #333 !important;
  color: #fff !important;
}

table.table-bordered {
  border: 1px solid #444 !important;
}

table.table-bordered th, table.table-bordered td {
  border: 1px solid #444 !important;
}

table.table-hover tbody tr:hover {
  background-color: #555 !important;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

table th {
  text-align: left;
  font-weight: bold;
  background-color: #222 !important;
}

table th, table td {
  padding: 10px;
}


.saira-condensed-thin {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.saira-condensed-extralight {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.saira-condensed-light {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.saira-condensed-regular {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-condensed-medium {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.saira-condensed-semibold {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.saira-condensed-bold {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
