body {
  background-color: #1d1d1d;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  display: flex;
}

nav ul li a {
  margin-left: 48px;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: font-size 0.2s, text-shadow 0.2s;
}

nav ul li a:hover {
  font-size: 1.3rem;
  text-shadow: 15px 15px 15px rgba(0, 0, 0, 1);
}

footer {
  display: flex;
  justify-content: right;
}

.footer-link {
  text-align: right;
  color: #fff;
  text-decoration: none;
  padding-left: 5%;
}

.footer-link:visited {
  color: #fff;
}

.container {
  margin-inline: 10rem;
}

.logo {
  color: #fff;
  font-size: 2.5rem;
  text-decoration: none;
}

.nav-link-signin {
  border-color: #333;
  background-color: #333;
  border-radius: 15px;
  padding-inline: 15px;
  border-style: solid;
  margin-left: 48px;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: background-color 0.2s;
}

.nav-link-signin:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}

.get-started-container {
  justify-content: center;
  display: flex;
}

.get-started-btn {
  background-color: #333;
  color: #fff;
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.get-started-btn:hover {
  background-color: #3d3d3d;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.main-content {
  display: flex;
  align-items: center;
  grid-template-columns: 65% 35%;
}

.main-title-container {
  width: 100%;
  flex: 2;
}

.img-container {
  text-align: right;
  flex: 1;
}

.title {
  width: 100%;
  margin-top: 0;
  font-size: 7rem;
  color: white;
}

.main-pc-img {
  max-width: 100%;
  border-radius: 10%;
}

.main-line {
  size: 5px;
  width: 25%;
  min-width: 11.25rem;
  margin-left: 0;
  margin-top: 10rem;
  margin-bottom: 0;
}

.how-it-works-line {
  margin-left: 0;
  text-align: left;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.how-it-works-container {
  margin-top: 15%;
  display: grid;
  grid-template-columns: 25% 15% 1fr;
  align-items: center;
  column-gap: 2%;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.how-it-works-container.visible {
  animation: slide-in-left 1s forwards;
}

.how-works-sign {
  color: #fff;
  font-size: 2.5rem;
}

.steps-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  column-gap: 10%;
  justify-content: center;
  color: #fff;
  margin-bottom: 100px;
}

.step-container {
  width: 100%;
  height: 450px;
  border-radius: 15px;
  background-color: #333;
  grid-template-rows: 25% 75%;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s, background-color 0.2s;
}

.step-container:hover {
  box-shadow: 22px 22px 22px rgba(0, 0, 0, 0.3);
  background-color: #303030;
}


.step-header-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.step-nmb {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 4rem;
}

.step-name-container {
  display: grid;
  align-items: center;
  grid-template-columns: 40% 30%;
  justify-content: center;
}

.step-name {
  margin-right: 0;
}

.step-line {
  margin-left: 0;
  text-align: left;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

.step-description {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}
